<div>

    <p >Hi <%= comment.user.name%>!</p>
    <br>
    <br>
    
    <p  style="background-color:rgb(255, 0, 98)">Your comment <strong><%= comment.content %></strong> just got pubished on codeial.</p>
    <br>
    <br>
    <p>Thanks!</p>
</div>
